.workers {
    padding: 0;
    height: 80vh;
    background-image: url("images/workers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    margin: 0 1%;
}

.blackcolor {
    color: black;
}

.image_1 {
    width: 100%;
}

.button-about {
    width: 100%;
    color: black;
}

.about-col * {
    padding: 2%;
}

.form-contact input{
    padding: 5px;
    margin-bottom: 15px;
}

.blackcolor2 {
    color: white;
    background-color: black;
    border: none;
    width: 10%;
}


.blackcolor3 {
    color: white;
    background-color: black;
}

.blackcolor3 a {
    text-decoration: underline;
    color: white;
}